@{
    ViewData["Title"] = "About AR Movie List";
}
<h2>@ViewData["Title"].</h2>

<h3>
    AR Movie List is a site where you can check the rating of your favorite movies, before you
    sit down to watch.  This helps you know if you can invite all your family and friends to watch, or
    if you should select a movie with a rating that is suitable for younger audiences.
</h3>
