@{
    ViewData["Title"] = "Home Page";
}


<div class="item active" style="background-color:lavenderblush; display:block; text-align:center;">
    <img src="~/images/popcorn.jpg" alt="Popcorn" class="img-responsive" 
         style="margin:auto; display:flex;" />
    <div>
        <h3>
            Visit AR Movie List to see what the movie you want to watch is rated.  You can
            trust our ratings to help you select the right movie for your viewing audience.
        </h3>
    </div>
</div>

